﻿<div layout="column" flex tabIndex="-1" role="main" class="md-whiteframe-z2" data-ng-controller="dashboard as vm">
    <md-toolbar layout="row" class="md-whiteframe-z1">
        <div class="md-toolbar-tools">
            <md-button class="menu" hide-gt-sm ng-click="vm.toggleList()" aria-label="Show Menu">
                Menu
            </md-button>
            <h1>Dashboard</h1>
        </div>
    </md-toolbar>
    
    <md-content flex id="dashboardContent" class="md-padding">
        Put dashboard stuff here
    </md-content>
</div>