﻿<div layout="column" flex tabIndex="-1" role="main" class="md-whiteframe-z2" data-ng-controller="game as vm">
    <md-toolbar layout="row" class="md-whiteframe-z1">
        <div class="md-toolbar-tools">
            <md-button class="menu" hide-gt-sm ng-click="vm.toggleList()" aria-label="Show Menu">
                Menu
            </md-button>
            <h1>Game</h1>
            <span flex></span>
            <md-button class="md-fab md-mini" aria-label="Connect to server" data-ng-click="vm.connect()" data-ng-if="!isConnected">
                <i class="fa fa-lg fa-play"></i>
            </md-button>            
        </div>
    </md-toolbar>


    <md-content class="md-padding" layout="row" data-ng-if="!isInGame">
        <div flex layout="column" layout-align="center center" data-ng-if="isConnecting || isJoining">
            <md-progress-circular md-mode="indeterminate"></md-progress-circular>
        </div>

        <md-card flex="50" data-ng-if="isConnected && !isJoining">
            <md-card-content>
                <md-input-container>
                    <label>Character Name</label>
                    <input data-ng-model="vm.characterName" data-md-autofocus>
                </md-input-container>
            </md-card-content>
            <div class="md-actions" layout="row" layout-align="end center">
                <md-button class="md-raised md-primary" data-ng-if="isConnected" data-ng-click="vm.join()">Join</md-button>
            </div>
        </md-card>
    </md-content>

    <md-content flex id="gameContent">
        
    </md-content>
</div>