﻿<div layout="column" flex tabIndex="-1" role="main" class="md-whiteframe-z2" data-ng-controller="users as vm">
    <md-toolbar layout="row" class="md-whiteframe-z1">
        <div class="md-toolbar-tools">
            <md-button class="menu" hide-gt-sm ng-click="vm.toggleList()" aria-label="Show Menu">
                Menu
            </md-button>
            <h1>Users</h1>
            <span flex></span>
            <ng-include src="'/ClientApps/main/sections/fragments/refreshButton.html'"></ng-include>
            <md-button class="md-fab md-mini" aria-label="Add" data-ng-click="vm.newUser($event)">
                <i class="fa fa-lg fa-plus"></i>
            </md-button>
        </div>
    </md-toolbar>

    <md-content flex class="md-padding" id="usersContent">
        <md-list>
            <md-list-item data-ng-repeat="user in users" ng-click="vm.editUser(user, false, $event)">
                <p>{{user.EmailAddress}}</p>
                <md-icon md-font-icon="fa-trash-o" ng-click="vm.deleteUser(user, $event)" aria-label="Delete" class="fa fa-2x md-secondary md-hue-3"></md-icon>
            </md-list-item>
        </md-list>
    </md-content>
</div>
