﻿<md-dialog aria-label="User Details" flex="40">
    <form data-ng-submit="vm.save()">
        <md-toolbar>
            <div class="md-toolbar-tools">
                <h2>User</h2>
                <span flex></span>
                <md-button class="md-icon-button" data-ng-click="vm.cancel()">
                    <md-icon data-md-font-icon="fa-times" data-aria-label="Close dialog" class="fa md-secondary md-hue-3"></md-icon>
                </md-button>
            </div>
        </md-toolbar>
        <md-dialog-content>
            <div>
                <md-input-container>
                    <label>Email Address</label>
                    <input data-ng-model="user.EmailAddress" data-md-autofocus>
                    <entity-errors entity="user" property-name="EmailAddress"></entity-errors>
                </md-input-container>

                <md-input-container data-ng-if="userPassword">
                    <label>Password</label>
                    <input data-ng-model="userPassword.HashedPassword" type="password">
                    <entity-errors entity="userPassword" property-name="HashedPassword"></entity-errors>
                </md-input-container>

                <md-checkbox class="md-primary" data-ng-model="data.cb1" data-aria-label="Change Password" data-ng-click="vm.toggleChangeUserPassword()" data-ng-if="!isNew">
                    Change Password
                </md-checkbox>

                <md-switch class="md-primary" data-md-no-ink data-aria-label="Admin" data-ng-model="user.Admin">
                    Admin
                </md-switch>
            </div>
        </md-dialog-content>
        <div class="md-actions" layout="row">
            <span flex></span>
            <md-button data-ng-click="vm.cancel()" data-ng-disabled="user.entityAspect.isBeingSaved">
                Cancel
            </md-button>
            <md-button class="md-raised md-primary" data-ng-disabled="user.entityAspect.isBeingSaved">
                Save
            </md-button>
        </div>
    </form>
</md-dialog>