﻿<!DOCTYPE html>
<html>
    <head>
        <style>
            /* This helps the ng-show/ng-hide animations start at the right place. */
            /* Since Angular has this but needs to load, this gives us the class early. */
            .ng-hide {
                display: none !important;
            }
        </style>
        <title data-ng-bind="title">LMF</title>
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge, chrome=1" />
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no" />

        <script>
            // Must be first. IE10 mobile viewport fix
            if ("-ms-user-select" in document.documentElement.style && navigator.userAgent.match(/IEMobile\/10\.0/)) {
                var msViewportStyle = document.createElement("style");
                var mq = "@@-ms-viewport{width:auto!important}";
                msViewportStyle.appendChild(document.createTextNode(mq));
                document.getElementsByTagName("head")[0].appendChild(msViewportStyle);
            }
        </script>
        @*<link rel='stylesheet' href='http://fonts.googleapis.com/css?family=Roboto:400,500,700,400italic'>*@
        @Styles.Render("~/Content/css")
    </head>
    <body data-ng-app="app" layout="row">
        <ng-include layout="column" flex src="'/ClientApps/main/layout/shell.html'"></ng-include>

        @Scripts.Render("~/bundles/scripts")
        @Scripts.Render("~/bundles/game")
        @Scripts.Render("~/bundles/mainCore")
        @Scripts.Render("~/bundles/common")
        @Scripts.Render("~/bundles/mainServices")
        @Scripts.Render("~/bundles/main")
        <!--Reference the autogenerated SignalR hub script. -->
        <script src="signalr/hubs"></script>
    </body>
</html>

