﻿<div layout="column" flex data-ng-controller="sidebar as vm">
    <md-sidenav class="site-sidenav md-sidenav-left md-whiteframe-z2"
                md-component-id="left"
                md-is-locked-open="$mdMedia('gt-sm')" flex>

        <md-toolbar class="md-whiteframe-z1">
            <div class="md-toolbar-tools">
                <h1>Menu</h1>
            </div>
        </md-toolbar>

        <md-list>
            <md-list-item ng-repeat="r in vm.navRoutes">
                <md-button href="#{{r.url}}" ng-class="{'selected' : vm.isCurrent(r) }"
                           data-ng-bind-html="r.config.settings.content">
                </md-button>
            </md-list-item>
            <md-list-item>
                <md-button href="/Authentication/LogOff"><i class="fa fa-sign-out"></i> Log Off</md-button>
            </md-list-item>
        </md-list>
    </md-sidenav>
</div>
